{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/ADL/largeIcons.css') }}">

    {{ parent() }}

{% endblock %}

{% block body %}

    {{ parent() }}

    <div class="container">
        <div class="row">


        </div>
    </div>

{% endblock %}