{% extends 'ADL/client_form_layout.html.twig' %}

{% block body %}

    {{ parent() }}

    <div class="container">
        <br>
        <div class="card">
            <div class="card-header">
                Add Client
            </div>
            <div class="card-body">
                <p class="card-text">


                    {{ include('ADL/client_form.html.twig', {
                        'buttonText': 'Save',
                        'buttonClass': 'btn-primary'
                    }) }}

                </p>
            </div>
        </div>
    </div>


{% endblock %}