{% extends 'ADL/client_form_layout.html.twig' %}

{% block body %}

    {{ parent() }}

    <div class="container">
        <br>
        <div class="card">
            <div class="card-header">
                Edit Client
            </div>
            <div class="card-body">
                <p class="card-text">


                    {{ include('ADL/edit_client_form.html.twig', {
                        'buttonText': 'Update',
                        'buttonClass': 'btn-warning'
                    }) }}

                </p>
            </div>
        </div>
    </div>

{% endblock %}