{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/ADL/largeIcons.css') }}">

    {{ parent() }}

{% endblock %}

{% block body %}

    {{ parent() }}

    <div class="container">
        <div class="row">
            <ul class="ca-menu">
                <li>
                    <a href="#">
                        <span class="ca-icon"><i class="fas fa-user-plus"></i></span>
                        <div class="ca-content">
                            <h2 class="ca-main">Add New<br/> Client</h2>
                            <h3 class="ca-sub"></h3>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="ca-icon"><i class="fas fa-search"></i></span>
                        <div class="ca-content">
                            <h2 class="ca-main">Search</h2>
                            <h3 class="ca-sub"></h3>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="ca-icon"><i class="fas fa-folder"></i></span>
                        <div class="ca-content">
                            <h2 class="ca-main">Call Audits</h2>
                            <h3 class="ca-sub"></h3>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="ca-icon"><i class="fas fa-folder-open"></i></span>
                        <div class="ca-content">
                            <h2 class="ca-main">Compliance Hub</h2>
                            <h3 class="ca-sub"></h3>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="ca-icon"><i class="fas fa-headphones"></i></span>
                        <div class="ca-content">
                            <h2 class="ca-main">Connex PBX</h2>
                            <h3 class="ca-sub"></h3>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="ca-icon"><i class="fas fa-database"></i></span>
                        <div class="ca-content">
                            <h2 class="ca-main">Employee Database</h2>
                            <h3 class="ca-sub"></h3>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="ca-icon"><i class="fas fa-bullseye"></i></span>
                        <div class="ca-content">
                            <h2 class="ca-main">Trackers</h2>
                            <h3 class="ca-sub"></h3>
                        </div>
                    </a>
                </li>
            </ul>

        </div>
    </div>

{% endblock %}